body{
    background-color: antiquewhite;
}

#DivTop{
    padding: 1%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    text-shadow: chocolate;
}

#DivMid-Right{
    margin-top: 2%;
    margin-right: 10%;
    border: 3px solid gray;
}

#Title-center{
    color: darkred;
    text-align: left;
    padding-left: 1%;
    font-size: 50px;
}

.div-mid-elenco{
    text-align: center;
    color: solid black;
    font-size: 25px;
    
}

.testi{
    text-align: center;
    padding: 1%;
    font-size: 20px;
    color: solid black;
    background-color: white;
}

#DivMid-Left{
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 10%;
    border: 3px solid gray;
}

#interno-alto-sinistra{
    padding-top: 1%;
    padding-bottom: 4%;
    color: darkred;
    text-align: center;
    font-size: 30px;
}

#interno-basso-sinistra{
    padding-top: 4%;
    padding-bottom: 1%;
    color: black;
    text-align: center;
    font-size: 18px;
}

#foto{
    height: 800px;
    width: 1340px;
}